.Purchase {
    width: 100%;
    font-family: Arial, sans-serif;
    /*margin: 10px;*/
    text-align: center;
}
.Purchase h1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-top: -40px;
}

.Users {
    width: 100%;
    font-family: Arial, sans-serif;
    /*margin: 10px;*/
    text-align: center;
}
.Users h1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-top: -40px;
}

.form-container {
    display: flex;
    justify-content: flex-end;
}

form {
    text-align: right;
    margin-left: 10px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed */
}

.createPurchaseButton {
    background-color: aquamarine;
    border-radius: 6% 6% 6% 6%;
}

.Purchase table {
    width: 60%;
    border-collapse: collapse;
    margin-left: 90px;
    margin-right: 10px;
}

.Purchase th, .Purchase td {
    border-bottom: 1px solid rgba(38, 215, 191, 0.39);
    text-align: left;
    padding: 8px;
}

.Users table {
    width: 80%;
    border-collapse: collapse;
    margin-left: 90px;
    margin-right: 10px;
}

.Users th, .Users td {
    border-bottom: 1px solid rgba(38, 215, 191, 0.39);
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

